body {
	background: rgb(204,204,204); 
}

#content-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: minmax(50px, auto);
    column-gap: 10px;
}

#app-title {
    grid-column: 1 / 4;
    grid-row: 1;  
}

#lang-log {
    grid-column: 4 / 5;
    grid-row: 1; 
    text-align: right;
}

#grammar-system {
    grid-column: 1 / 2;
    grid-row: 2; 
}

#source-text {
    grid-column: 2 / 4;
    grid-row: 2; 
    background-color: white;
}

#source-text-lang {
    grid-column: 4 / 5;
    grid-row: 2; 
}

#tree-svg-container {
    grid-column: 1 / 5;
    grid-row: 3;    
}

#tree-svg {
    background-color: white;
    height: 200px;
}

mark.highlighted {
    background-color: purple;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 0 3px;
}

mark.highlighted:hover {
    cursor: grab;
}

mark.dragged {
    background-color: grey;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 0 3px;    
}

mark.dragged:hover {
    cursor: auto;
    user-select: none;
} 

mark.dropped {
    background-color: #fcba03;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 0 3px;    
}

mark.dropped:hover {
    cursor: auto;
    user-select: none;
} 

#tree-svg button  {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;                
}

circle{
  fill:white;
  stroke:steelblue;  
  stroke-width:2px;
}
line{
  stroke:grey;
  stroke-width:3px;
}
.incRect{
	stroke:grey;
	shape-rendering:crispEdges;
}
#treesvg g text:hover, #treesvg g circle:hover{
	cursor:pointer;
}
#navdiv{
	background:#555;
}
#treesvg{
	border:1px solid grey;
}
#labelpos{
	color:white;
}
#navdiv button, #navdiv textarea{
	vertical-align:middle;
}
#g_labels text{
	text-anchor:middle;
}
#g_elabels text{
	text-anchor:middle;
	fill:red;
	font-weight:bold;
}
